body {
    font-family: Arial;
    background: #385060;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    width: 500px;
    background: #03313b;
    padding: 20px;
    border-radius: 10px;
}

textarea {
    width: 480px;
    height: 150px;
    margin-top: 10px;
    padding: 10px;
    font-family: monospace;
    border-radius: 20px;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #4caf50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    
}

.output {
    margin-top: 15px;
    font-weight: bold;
}

